<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Ausgabe hinzufügen</h1>

<form method="post ">

    <label for="person"> Hans </label>
    <input type="text" name="person" id="person">

    <label for="personen"></label>
    <ul>
        <li> <input type="checkbox" id="personen" name ="personen" value="personen"> Peter</li>
    </ul>

    <label for="beschreibung"> Beschreibung: </label>
    <input type="text" id="beschreibung" name="beschreibung">

    <label for="betrag"> Betrag: </label><input type="text" id="betrag" name="betrag"> <!-- Money übersetzen -->



    <button type="submit">Ausgabe hinzufügen</button>
</form>



</body>
</html>