<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gruppe</title>
</head>
<body>

<form>
  <label for="person-name">Name der Person:</label>
  <input type="text" id="person-name" name="person-name"><br><br>
  <button type="submit">Person hinzufügen </button>
</form>

<!-- Liste der Personen -->
<ul>
  <li> Max Mustermann </li>
  <li> Muster Maxmann </li>
</ul>


<a href="ausgabenAnzeigen"> <button type="submit"> Ausgabe anzeigen </button> </a>


<!-- Ausgabe hinzufügen -->
<a href ="ausgabenHinzufügen.html"> <button type="submit"> Ausgabe hinzufügen  </button> </a>


<!-- Gruppe schließen -->
<button typpe="submit"> Gruppe schließen </button>

<!-- Ausgleichen -->
<button type="submit"> Ausgleichen </button>


</body>
</html>